<body>
    <p>Retos</p>
    <mat-grid-list cols="6" rowHeight="250px" style="height: 250px;" gutterSize="40px" >
        <mat-grid-tile *ngFor="let reto of listaRetos"
        [colspan]="2"
        [rowspan]="1"
        >
        <button mat-raised-button > {{reto.titulo}}
        </button>
        <mat-grid-tile-footer>
            {{reto.descripcion}}
    
        </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>  
    <div>
        <div class="pull-right">
            <button mat-button (click)="irCrearJuego()" ><i class="fa fa-plus fa-1x" aria-hidden="true"></i></button>
        </div>
    </div>
</body>
