<section class="hero is-primary is-bold" >
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Agregar Contenido
      </h1>
      
    </div>
  </div>
</section>
<div class="container">
  <section class="section">
    <form [formGroup]="formularioBlog" novalidate (ngSubmit)="onSbmit()">
      <div class="field">
        <label class="label">Titulo</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input"
            type="text" 
            formControlName="titulo" />
        </div>
      </div>
      <div class="field">
          <label class="label">Imagen</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input"  type="text" placeholder="Ingrese url de la imagen" formControlName="imagen" />
            
          </div>  
      </div>
      <div class=" verImagen">
        <div class="verImagen" *ngIf="formularioBlog.get('imagen')?.touched" >
        
          <h2 class="tituloVideo">Previsualización de la imagen</h2>
        
          <img src="{{verImagen()}}" alt="Image" class="img-fluid" [height]="250" [width]="500">
        </div>
      </div>
      <div class="field">
        <label class="label">Descripción:</label>
        <div class="control">
            <textarea class="textarea" cols="30" rows="10" formControlName="descripcion"></textarea>
            {{ formularioBlog.get('descripcion').value.length }}/1000
        </div>
      </div>
      <div class="field">
          <label class="label">Video</label>
        <div class="control has-icons-left has-icons-right">
            <input (focus)="validarUrlYoutube()" class="input"  type="text" placeholder="Ingrese url del video" formControlName="video" />
            
        </div>  
      </div>
      <div class=" verVideo">
        <div class="verVideo" *ngIf="formularioBlog.get('video')?.touched" >
          
          <h2 class="tituloVideo">Previsualización del video</h2>
          
            <youtube-player videoId="{{verVideo()}}" suggestedQuality="highres" [height]="250" [width]="500" 
            [startSeconds]="4" >
            </youtube-player>
        </div>
      </div>
        <div class="chek">
          <div class="field">
            <label  class="label">Categoria:</label>
            <div >
              <section class="example-section" [formGroup]="toppings">
                <p  ><mat-checkbox *ngIf="toppings.controls.usarCategoria.value==false" formControlName="crearCategoria">Crear nueva categoria</mat-checkbox></p>
                <p ><mat-checkbox *ngIf="toppings.controls.crearCategoria.value==false" formControlName="usarCategoria">Categorisa existente</mat-checkbox></p>
                
              </section>
              
              
                
              
              <div *ngIf="toppings.controls.usarCategoria.value==true">
                <label  class="label">Categoria:</label>
                  <mat-form-field class="respuesta" appearance="fill">
                    <mat-select   class="respuesta" placeholder="Categoria" formControlName="categoria" >
                      <mat-option (click)="modalCrearCategoria()" value="agregar"> Agregar</mat-option>
                      <mat-option  *ngFor="let categoria of listaCategorias"  [value]="categoria"> {{categoria.nombre}}</mat-option>
                      
                    </mat-select>
                  </mat-form-field>
              </div>
              <div *ngIf="toppings.controls.crearCategoria.value==true">
                <div class="field">
                  <label  class="label">Ingresa el nombre de la categoria a crear</label>
                  <div class="control has-icons-left has-icons-right">
                      <input class="input"
                      type="text" 
                      placeholder="Ingresa el nombre de la categoria"
                      formControlName="categoria" />
                  </div>
                </div>
              </div>
              
              
                
            </div>
          </div>
          
      <div class="pull-right">
        <button mat-flat-button color="accent" id="guardar" type="submit" value="guardar"> guardar</button>
      </div>
    </div>
    </form>
  </section>
</div>

