h2{
	text-align:center;
}
.respuesta {
	background-color: rgba(182, 181, 182, 0.967);
    width: 83%;
    
}

.preguntaTitulo{
    text-align: center;
    margin-top: 15px;
}

mat-form-field{
    margin-left: 9%;
    margin-top: 30px;
    
    
}
.enunciadoPrincipal{
    margin-left: 5%;
    margin-top: 10px;
    
}
.form-control{
    margin-left: 5%;
    margin-top: 10px;
    width: 90%;
    border-color: blueviolet;
}
.verVideo{
    margin-left: 20%;
    margin-top: 4%;
}
.tituloVideo{
    text-align: justify;
    margin-top: 1%;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
background-color: #437891 !important;


}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #111010;
}
