


<body>
<h2>Nueva entrada</h2>
<body>
  <form class="contenedor" [formGroup]="formularioBlog"  >

  <div class="login-box">
   <div class="Principal">
    <!--<img src="../imgLogin/logo.png" class="avatar" alt="Avatar Image">     codigol para logo-->
      <label class="enunciadoPrincipal" for="titulo">Titulo</label>
      <input type="text" class="form-control" formControlName="titulo" placeholder="titulo" pInputText id="titulo"  required="" >
      <label class="enunciadoPrincipal" for="descripcion">Descripción</label>
      <input type="text" class="form-control" formControlName="descripcion"  placeholder="descripcion" pInputText id="descripcion"  required="" >
      <label class="enunciadoPrincipal" for="imagen">Imagen</label>
      <input type="text" class="form-control" formControlName="imagen"  placeholder="Ingresa URL de la imagen" pInputText id="imagen" required="" >
      <label class="enunciadoPrincipal" for="video">Video</label>
      <input type="text" class="form-control" formControlName="video"  placeholder="Ingresa URL del video" pInputText id="video" required="" >
      <label class="enunciadoPrincipal" for="categoria">Categoria</label>
      <mat-select  class="respuesta" placeholder="Categoria">
        <mat-option (click)="modalCrearCategoria()" value="agregar"> Agregar</mat-option>
        <mat-option  *ngFor="let categoria of listaCategorias" [value]="categoria.nombre"> {{categoria.nombre}}</mat-option>
        
      </mat-select>
    </div>
  </div> 
</form>
<p>&nbsp;</p>

</body>
