#principal{
    width: 80%;
    height: auto; overflow: hidden;
    border: 1px solid;
    margin: 10px auto;
}
#publicaciones{
    width: 70%;
    height: auto; overflow: hidden;
    border: 1px solid;
    margin: 10px auto;
}
.post{
    width: 99%;
    height: auto; overflow: hidden;
    padding: 7px 7px;
    background: #fdfdfd;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: aqua;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #ccc;
}
.enlace-post{
    text-decoration: none;
}
#publicaciones a .titulo-post:hover{
    text-decoration:underline ;
}