<body>

  <div id="tituloPrincipal" class="hero is-primary is-bold">
    <h1 class="title">
      Contenido
    </h1>
  </div>

  <section *ngFor="let contenido of listaContenidos;let i=index">

    <div class="container-fluid">
      <main class="tm-main">
        <div>
          <article>

            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{contenido.comentario}}</h2>
            <h2 class="tm-pt-30 tm-color-primary tm-post-title"></h2>


            <hr class="tm-hr-primary">
            <a class="verImagen" *ngIf="visualizarImagen(contenido.imagen)">

              <div>
                <img src="{{contenido.imagen}}">
              </div>
            </a>

            <p class="tm-pt-30">
              {{contenido.descripcion}}

            </p>
            <hr class="tm-hr-primary">
            <a *ngIf="visualizarVideo(listaContenidos[i].video)" class="effect-lily tm-post-link tm-pt-60">
              <div #demoYouTubePlayer class="demo-youtube-player">
                <section class="videoCent" *ngIf="tamano<950">
                  <youtube-player videoId="{{listaContenidos[i].video}}" [width]="200" [height]="200">
                  </youtube-player>
                </section>
                <section style="text-align:center;" *ngIf="tamano>950">
                  <youtube-player videoId="{{listaContenidos[i].video}}" [width]="400" [height]="500" >
                  </youtube-player>
                </section>
                

              </div>
            </a>
            <div class="card">


            <a *ngIf="rolDocente()" (click)="borrarContenido(contenido.idCursoContenido)" class="btn btn-danger">
              <mat-icon  class="delete-btn" (click)="borrarContenido(contenido.idCursoContenido)"><svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-archive-fill" viewBox="0 0 16 16">
                  <path
                    d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z" />
                </svg></mat-icon>
            </a>
          </div>
          </article>
        </div>
      </main>
    </div>

  </section>