<body>

  <section>
    
    <div class="container-fluid">
        <main class="tm-main">
            
   
           
            <div class="row tm-row">
                <article *ngFor="let contenido of listaContenidos" class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a  >
                        <div class="tm-post-link-inner">
                            <img src="{{contenido.imagen}}"  >                            
                        </div>
                        
                    </a>         
                    <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{contenido.comentario}}</h2>           
                    <p class="tm-pt-30">
                        {{contenido.descripcion}}
                        
                    </p>
                    <a class="effect-lily tm-post-link tm-pt-60">
                        <div class=" tm-post-link-inner">
                            <youtube-player videoId="{{contenido.video}}" suggestedQuality="highres" [height]="250" [width]="500"
                            [startSeconds]="4"[endSeconds]="8" >
                            </youtube-player>
                        </div>
                        
                        
                    </a>  
                   
                </article>
                
              
                
                  
            </div>
          
               
                      
            <footer class="row tm-row">
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                </div>
                
            </footer>
            <video src="https://youtu.be/mx5WVKkioLk"></video>
        </main>
    </div>
    
    