<h1 mat-dialog-title>Categorias</h1>
<div mat-dialog-content *ngFor="let categoria of data.categorias">
  <ul>
    <li>
      <h3> {{categoria.nombre}}</h3>
      <button mat-raised-button color="primary" (click)="irAContenido(categoria.idCategoriaContenido)">Ir a contenido</button>
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cerrarModal()">Cerrar</button>
  <button mat-button (click)="irRetos()">Retos</button>
  <button mat-button (click)="irJuegos()">Juegos</button>
</div>

