#irContenido{
    border-radius: 40px;
    border-color: azure;
}
#categoria{
    text-align: center;
}
#agregar{
    border-radius: 40px;
    
}
.container{
    align-items: center;
    text-align: center;
    }