<body>
    

<table class="table">
    <thead style="background-color: black ;" class="thead-dark">
      <tr style="color: azure;">
        <th style="color: azure;" scope="col">#</th>
        <th style="color: azure;" scope="col">Nombre</th>
        <th style="color: azure;" scope="col">Correo</th>
        <th style="color: azure;" scope="col">Identificación</th>
        <th style="color: azure;" scope="col">Titulo del reto</th>
        <th style="color: azure;" scope="col">Calificación</th>


      </tr>
    </thead>
    <tbody *ngFor="let reporte of listaReportes;let i=index">
      <tr >
        <th  scope="row">{{i+1}}</th>
        <td>{{reporte.nombre}}</td>
        <td>{{reporte.correo}}</td>
        <td>{{reporte.identificacion}}</td>
        <td>{{reporte.tituloReto}}</td>
        <td>{{reporte.calificacion}}</td>
        
      </tr>
   
     
      
    </tbody>
  </table>
</body>