<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Practiquemos juntos
            </h1>
        </div>
    </div>
</section>

<body>
    <form class="contenedor" [formGroup]="formReto">
        <ng-container formArrayName="preguntas">
            <div *ngFor="let pregunta of preguntas.controls; let i=index">
                <ng-container [formGroupName]="i">
                    <div class="container">
                        <div class="card">
                            <div class="question-remain">
                                <span style="font-style: italic;"> pregunta {{i+1}} de {{listaPreguntas.length}}</span>
                            </div>

                        </div>
                        <div class="question">
                            <div class="card">
                                <h1>{{obtenerValorControl(i,'pregunta')}}</h1>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image">
                                <img src="{{obtenerValorControl(i,'imagen')}}" alt="logo">
                            </div>
                        </div>
                        <div class="options">
                            <div class="card">
                                <section class="example-section">
                                    <div class="card">
                                        <p>
                                            <mat-checkbox formControlName="opcion1"
                                                (focus)="detectarCambiosFormulario(i)">
                                                {{listaPreguntas[i].opcion1}}</mat-checkbox>
                                        </p>
                                    </div>
                                    <div class="card">
                                        <p>
                                            <mat-checkbox formControlName="opcion2"
                                                (focus)="detectarCambiosFormulario(i)">
                                                {{listaPreguntas[i].opcion2}}</mat-checkbox>
                                        </p>
                                    </div>
                                    <div class="card">
                                        <p>
                                            <mat-checkbox formControlName="opcion3"
                                                (focus)="detectarCambiosFormulario(i)">
                                                {{listaPreguntas[i].opcion3}}
                                            </mat-checkbox>
                                        </p>
                                    </div>
                                    <div class="card">
                                        <p>
                                            <mat-checkbox formControlName="opcion4"
                                                (focus)="detectarCambiosFormulario(i)">
                                                {{listaPreguntas[i].opcion4}}
                                            </mat-checkbox>
                                        </p>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </form>
    <div *ngIf="validarRolEstudiante()" class="pull-right">
        <button mat-flat-button color="accent" value="guardar" (click)="enviarRespuestas()"> Enviar</button>
    </div>
</body>