<body>
    <div *ngFor="let pregunta of listaPreguntas;let i=index" class="container">
         
        <div class="card">
            <div class="d-flex justify-content-between" >
                <div class="image" >
                    <img src="{{pregunta.imagen}}" alt="logo" >
                </div>
                <div class="quiz-header">
                    <h4 style="font-family: cursive;">Practiquemos juntos</h4>
                    
                </div>

            </div>
            
                <div class="question-remain">
                    <span style="font-style: italic;"> pregunta {{i+1}} de {{listaPreguntas.length}}</span>

                </div>
                
            </div>

             
                            <div class="question">
                                <div class="card">
                                    <h5>{{pregunta.texto}}</h5>
                                </div>

                            </div>
                            <div class="options">
                                <ol>
                                    <li>
                                        <div class="card">
                                            {{pregunta.opcion1}}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            {{pregunta.opcion2}}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            {{pregunta.opcion3}}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card">
                                            {{pregunta.opcion4}}
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button mat-flat-button color="accent"  value="guardar" > Guardar</button>
                            </div>

</body>

