<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 *ngIf="validarRolEstudiante()==true" class="title">
                Validemos tus conocimientos
            </h1>
            <h1 *ngIf="validarRolEstudiante()==false" class="title">
                Eliminar reto
            </h1>
            <div *ngIf="validarRolEstudiante()==false" class="card" (click)=" borrarReto()" style="background-color: #dc3545;">
                <a (click)=" borrarReto()"  class="btn btn-danger">
                    <mat-icon (click)=" borrarReto()" class="delete-btn"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path
                                d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z" />
                        </svg></mat-icon>
                </a>
            </div>
        </div>
    </div>
</section>

<body>
    <form class="contenedor" [formGroup]="formReto">
        <ng-container formArrayName="preguntas">
            <div *ngFor="let pregunta of preguntas.controls; let i=index">
                <ng-container [formGroupName]="i">
                    <div class="container">
                        <div class="card">
                            <div class="question-remain">
                                <span style="font-style: italic;"> pregunta {{i+1}} </span>
                            </div>

                        </div>
                        <div class="question">
                            <div class="card">
                                <h1>{{obtenerValorControl(i,'pregunta')}}</h1>
                            </div>
                        </div>
                        <div class="card" *ngIf="visualizarImagen(obtenerValorControl(i,'imagen'))">
                            <div class="image">
                                <img src="{{obtenerValorControl(i,'imagen')}}" alt="logo">
                            </div>
                        </div>
                        <div class="options">
                            <div class="card">
                                <section class="example-section">
                                    <div class="card">
                                        <p>
                                            <mat-checkbox formControlName="opcion1"
                                                (change)="detectarCambiosFormulario(i,'opcion1')">
                                                {{listaPreguntas[i].opcion1}}</mat-checkbox>
                                        </p>
                                    </div>
                                    <div class="card">
                                        <p>
                                            <mat-checkbox formControlName="opcion2"
                                                (change)="detectarCambiosFormulario(i,'opcion2')">
                                                {{listaPreguntas[i].opcion2}}</mat-checkbox>
                                        </p>
                                    </div>
                                    <div class="card">
                                        <p>
                                            <mat-checkbox formControlName="opcion3"
                                                (change)="detectarCambiosFormulario(i,'opcion3')">
                                                {{listaPreguntas[i].opcion3}}
                                            </mat-checkbox>
                                        </p>
                                    </div>
                                    <div class="card">
                                        <p>
                                            <mat-checkbox formControlName="opcion4"
                                                (change)="detectarCambiosFormulario(i,'opcion4')">
                                                {{listaPreguntas[i].opcion4}}
                                            </mat-checkbox>
                                        </p>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </form>
        <div (click)="enviarRespuestas()" class="card">
        <button mat-flat-button color="accent" value="guardar"  (click)="enviarRespuestas()"> Enviar</button>
    </div>
</body>