<body>
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Asignaturas
        </h1>
      </div>
    </div>
  </section>
  

      <div *ngIf="puedeVisualizar()" class="pull-right">
        <div class="agregarAsignatura"><label>Agregar </label></div>

        <button mat-flat-button color="accent" (click)="modalCrearCurso()"><i class="fa fa-plus fa-1x"
            aria-hidden="true"></i></button>
      </div>
    
    
      <div class="agregarEs" *ngIf="puedeVisualizarEstudiante()" >

        <button  mat-flat-button color="accent" (click)="modalAgregarAsignatura()"><h2 class="agregarEs">Unirme a un curso</h2></button>
      </div>
   

      <mat-grid-list [cols]="colSize"  rowHeight="250px" style="height: 250px; " gutterSize="40px">
        <mat-grid-tile *ngFor="let curso of listaCursos" [colspan]="2" [rowspan]="1">
          <div class="nombreCurso" mat-raised-button [routerLink]="['curso',curso.idCursos]">
            <p  class="nombreC"> {{curso.nombre }} </p> 
            <p  class="nombreG"> Grado: {{curso.grado }}</p> 
          </div>
          <mat-grid-tile-footer *ngIf="puedeVisualizar()" class="button" (click)="showModalCodigo(curso.codigo)">
            Ver codigo del curso

          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>

      
    
</body>
