<body>
<p>Cursos</p>
<mat-grid-list cols="6" rowHeight="250px" style="height: 250px;" gutterSize="40px" >
    <mat-grid-tile *ngFor="let curso of listaCursos"
    [colspan]="2"
    [rowspan]="1"
    >
    <button mat-raised-button  [routerLink]="['curso',curso.idCursos]" >    {{curso.nombre}}
    </button>
    </mat-grid-tile>
</mat-grid-list>  
<div style="position: relative; left: 0%; bottom: 0;">
    <button id="agregar" mat-button ><i class="fa fa-plus fa-3x" aria-hidden="true"></i></button>
  </div>
</body>
