<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Recuperar Contraseña
            </h1>

        </div>
    </div>
</section>
<div class="container">
    <section class="section">
        <form [formGroup]="form" (ngSubmit)="save($event)">
            <div class="field">
                <label class="lNombre">Correo</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" placeholder="Email" type="email"
                        formControlName="email" />
                </div>
            </div>
            <div class="field">
                <label class="lNombre">Identificación</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" placeholder="Identificación" type="number"
                        formControlName="identificacion" />
                </div>
            </div>
            <div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary" type="submit">Recuperar contraseña</button>

                </div>
                <div class="control">
                    <button (click)="cerrarModal()" class="button is-light" type="reset">Cancelar</button>
                </div>
            </div>
        </form>
    </section>
</div>